<div id="wrapper">
  <div class="side">
    <div class="header">
      <span> My Course</span>
    </div>
    <div id="scrollarea">
      <mat-accordion *ngFor="let weeks of weeksList" class="example-headers-align"
        (click)="getSections(weeks.week_num)">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Week {{weeks.week_num}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- for topics  -->
          <mat-accordion *ngFor="let sec of SectionsList" class="example-headers-align">
            <mat-expansion-panel [hideToggle]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{sec.sections_name}}- &nbsp;<span style="font-weight: normal;"> {{this.allTopics}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
          <!-- for topics  -->
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
  <div class="main">
    <div class="uppar_section">
      <div class="profile_section">
        <div class="profile_box">
          <div class="profileimg">
            <img [src]="userLoginData.profile_img" alt="">
          </div>
          <div class="profiledeatils">
            <div class="row name">{{userLoginData.name}}</div>
            <div class="row">{{userLoginData.age}}</div>
            <div class="row">{{userLoginData.class}}</div>
            <div class="row">{{userLoginData.school}}</div>
            <div class="row">{{userLoginData.country}}</div>
          </div>

        </div>
      </div>
      <div class="point_area">
        <div class="point_box">
          <div class="point_img">
            <img src="assets/icon/star.png" alt="">
          </div>
          <div class="point_title">
            <h1>ReLearn Points</h1>
            <div class="pointnumber">{{userLoginData.currentPoint}}</div>
          </div>
        </div>

      </div>
    </div>
    <div class="lower_section">
      <div class="timeline">
        <div *ngFor="let day of days1; let i = index" class="day-container"
          [ngClass]="{ activeClass: i + 1 === current_day }">
          <img [src]="day.url" alt="">
        </div>
      </div>

      <div class="timeline">
        <div *ngFor="let day of days2; let i = index" class="day-container2"
          [ngClass]="{ activeClass: i + 1 === current_day }">
          <img [src]="day.url" alt="">
        </div>
      </div>

    </div>
  </div>