<div id="wrapper">
  <div class="side">
    <div class="header">
      <span> My Course</span>
    </div>
    <div id="scrollarea">
      <mat-accordion *ngFor="let weeks of weeksList" class="example-headers-align" (click)="getTopics(weeks.id)">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Week {{weeks.week_num}} 
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- for topics  -->
          <mat-accordion *ngFor="let topic of TopicsList" class="example-headers-align" (click)="getTopics(topic.id)">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{topic.topics}}
                </mat-panel-title>
              </mat-expansion-panel-header>

            </mat-expansion-panel>
          </mat-accordion>
          <!-- for topics  -->
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
  <div class="main">
    <div class="uppar_section">
      <div class="profile_section">
        <div class="profile_box">
          <div class="profileimg">
            <img [src]="userLoginData.profile_img" alt="">
          </div>
          <div class="profiledeatils">
            <div class="row"><b>Name:</b> {{userLoginData.name}}</div>
            <div class="row"><b>Age:</b> {{userLoginData.age}}</div>
            <div class="row"><b>Class:</b> {{userLoginData.class}}</div>
            <div class="row"><b>Country:</b> {{userLoginData.country}}</div>
          </div>

        </div>
      </div>
      <div class="point_area">
        <div class="point_box">
          <div class="point_img">
            <img src="assets/icon/star.png" alt="">
          </div>
          <div class="point_title">
            <h1>ReLearn Points</h1>
            <div class="pointnumber">{{userLoginData.currentPoint}}</div>
          </div>
        </div>

      </div>
    </div>
    <div class="lower_section">
      
    </div>
  </div>