<div id="wrapper">

     <div *ngIf="QuestionType == 'LetterTracing'" id="LetterTracing">
        <div class="letter-selector">
            <span>🎨 {{CurrentQuestion?.Question}} 🖍️</span>
        </div>

        <div class="canvas-container">
            <canvas #letterCanvas width="400" height="400"></canvas>
        </div>

        <div class="button-container">
            <button class="reset-btn" (click)="startPainting()">🔄 Reset</button>
            <button class="save-btn" [disabled]="!isSaveVisible" (click)="saveCanvas()">✅ Save & Next</button>
        </div>
    </div> 

    <div *ngIf="QuestionType == 'BlendWords'" id="BlendWords">
        <div class="letter-selector">
            <span>🎨 {{ CurrentQuestion?.Question }} 🖍️</span>
        </div>

        <div class="qarea">
            <div class="imgarea">
                <img [src]="base_url + CurrentQuestion?.question_Img" alt="Question Image" width="200px"
                    height="200px" />
            </div>

            <div class="question-content">
                <div class="option-buttons">
                    <button mat-button *ngIf="CurrentQuestion?.OptionA" (click)="selectOption(CurrentQuestion.OptionA)">
                        {{ CurrentQuestion.OptionA }}
                    </button>
                    <button mat-button *ngIf="CurrentQuestion?.OptionB" (click)="selectOption(CurrentQuestion.OptionB)">
                        {{ CurrentQuestion.OptionB }}
                    </button>
                    <button mat-button *ngIf="CurrentQuestion?.OptionC" (click)="selectOption(CurrentQuestion.OptionC)">
                        {{ CurrentQuestion.OptionC }}
                    </button>
                    <button mat-button *ngIf="CurrentQuestion?.OptionD" (click)="selectOption(CurrentQuestion.OptionD)">
                        {{ CurrentQuestion.OptionD }}
                    </button>
                </div>

                <span style="width: 100%; height: 100px;"></span>

                <div class="incomplete-word">

                    <span>{{ filledWord || ' ' }} {{ CurrentQuestion?.incomplete_word }}</span>
                </div>


            </div>
        </div>

        <div class="button-container">
            <button class="reset-btn" (click)="resetSelection()">🔄 Reset</button>
            <button class="save-btn" (click)="NextQuestion()">✅ Save & Next</button>
        </div>
    </div> 

    <!-- <div id="LetterMatch">
        <div class="letter-selector">
            <span>🎨 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 🖍️</span>
        </div>

        <div class="qarea">
            
        </div>

        <div class="button-container">
            <button class="reset-btn" (click)="resetSelection()">🔄 Reset</button>
            <button class="save-btn" (click)="NextQuestion()">✅ Save & Next</button>
        </div>

    </div> -->

    <button class="save-btn" (click)="NextQuestion()">✅ Save & Next</button>


    <!-- <button (click)="NextQuestion()" mat-button>next</button> -->

    <!-- <div >
</div>

<div *ngIf="QuestionType == 'LetterMatch'">
    MCSS
</div>

<div *ngIf="QuestionType == 'BlendWords'">
    MCSS
</div>

<div *ngIf="QuestionType == 'ListenWords'">
    MCSS
</div> -->