<div id="wrapper">
    <div class="leftarea">
        <!-- <div class="topicsarea">
            <button type="button">Level/Week2/day5</button>
            <span>{{CurrentQuestion?.topics}}</span>
            <span></span>
        </div> -->

        <div *ngIf="QuestionType == 'LetterTracing'" id="LetterTracing">
            <app-letter-tracking [CurrentQyt]="CurrentQuestion"></app-letter-tracking>
        </div>

        <div *ngIf="QuestionType == 'LetterMatch'" id="LetterMatch">
            <app-letter-match [CurrentQyt]="CurrentQuestion"></app-letter-match>
        </div>


        <div *ngIf="QuestionType == 'BlendWords'" id="BlendWords">
            <div class="questionheader">
                <span>🎨 {{ CurrentQuestion?.Question }} 🖍️</span>
            </div>

            <div class="qarea">
                <div class="imgarea">
                    <img [src]="base_url + CurrentQuestion?.question_Img" alt="Question Image" />
                </div>

                <div class="question-content">
                    <div class="option-buttons">
                        <button mat-button *ngIf="CurrentQuestion?.OptionA"
                            (click)="selectOption(CurrentQuestion.OptionA)"
                            [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionA}">
                            {{ CurrentQuestion.OptionA }}
                        </button>
                        <button mat-button *ngIf="CurrentQuestion?.OptionB"
                            (click)="selectOption(CurrentQuestion.OptionB)"
                            [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionB}">
                            {{ CurrentQuestion.OptionB }}
                        </button>
                        <button mat-button *ngIf="CurrentQuestion?.OptionC"
                            (click)="selectOption(CurrentQuestion.OptionC)"
                            [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionC}">
                            {{ CurrentQuestion.OptionC }}
                        </button>
                        <button mat-button *ngIf="CurrentQuestion?.OptionD"
                            (click)="selectOption(CurrentQuestion.OptionD)"
                            [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionD}">
                            {{ CurrentQuestion.OptionD }}
                        </button>
                    </div>

                    <span style="width: 100%; height: 70px;"></span>


                    <div class="incomplete-word">
                        <span>{{ (CurrentQuestion?.incomplete_word || '').replace('__', filledWord || '__') }}</span>
                    </div>

                    <div class="actionbutton">
                        <button class="reset-btn" (click)="resetSelection()">🔄 Reset</button> &nbsp; &nbsp;
                        <button class="save-btn" (click)="CheckCorrect()">✅ Save & Next</button>
                    </div>

                </div>


            </div>


        </div>


        <!-- for ListenWords  -->
        <div *ngIf="QuestionType == 'ListenWords'" id="ListenWords">
            <div class="letter-selector">
                <span>🎨 {{ CurrentQuestion?.Question }} 🖍️</span>
            </div>

            <div class="qarea">
                <div class="imgarea">
                    <img [src]="base_url + CurrentQuestion?.question_Img" alt="Question Image" width="200px"
                        height="200px" />
                </div>

                <div class="question-content">
                    <div class="listen_word">
                        <span>{{CurrentQuestion?.listen_word }}</span>
                    </div>

                    <button class="btn btn-primary btn-sm mt-2" (click)="onPlayRec(CurrentQuestion?.listen_rec)">Listen
                        Word</button>
                </div>
            </div>

            <div class="button-container">
                <button class="reset-btn" (click)="resetSelection()">🔄 Reset</button>
                <button class="save-btn" [disabled]="!isSaveVisible" (click)="NextQuestion()">✅ Save & Next</button>
            </div>
        </div>



        <!-- for ListenWords  -->
        <div *ngIf="QuestionType == 'MCQ'" id="MCQ">
            <div class="letter-selector">
                <span>🎨 {{ CurrentQuestion?.Question }} 🖍️</span>
            </div>

            <div class="qarea">
                <div class="question-content">
                    <div class="option-buttons">
                        <button mat-button *ngIf="CurrentQuestion?.OptionA"
                            (click)="selectOption(CurrentQuestion.OptionA)"
                            [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionA}">
                            {{ CurrentQuestion.OptionA }}
                        </button>
                        <button mat-button *ngIf="CurrentQuestion?.OptionB"
                            (click)="selectOption(CurrentQuestion.OptionB)"
                            [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionB}">
                            {{ CurrentQuestion.OptionB }}
                        </button>
                        <button mat-button *ngIf="CurrentQuestion?.OptionC"
                            (click)="selectOption(CurrentQuestion.OptionC)"
                            [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionC}">
                            {{ CurrentQuestion.OptionC }}
                        </button>
                        <button mat-button *ngIf="CurrentQuestion?.OptionD"
                            (click)="selectOption(CurrentQuestion.OptionD)"
                            [ngClass]="{'active-option': filledWord === CurrentQuestion.OptionD}">
                            {{ CurrentQuestion.OptionD }}
                        </button>
                    </div>

                </div>
            </div>

            <div class="button-container">
                <button class="reset-btn" (click)="resetSelection()">🔄 Reset</button>
                <button class="save-btn" [disabled]="!isSaveVisible" (click)="CheckCorrect()">✅ Save & Next</button>
            </div>
        </div>


    </div>

    <div class="rightarea">
        <div class="reportCard">
            <div class="profileHeader">
                <div class="profileimage">
                    <img src="../../../assets/icon/profile.jpeg" alt="">
                </div>
                <div class="name">
                    MR John
                </div>
                <div class="studentid">
                    Student ID : AB3265
                </div>

                <div class="studentid">
                    <span>Leave 1</span>
                    <span>Week 9</span>
                    <span>Day 2</span>
                </div>

            </div>

            <div class="reportarea">
                <div class="progess">
                    <span>Today's Progress Report: 0/25</span>
                    <div class="progessline">
                        <section class="example-section">
                            <mat-progress-bar class="example-margin" [value]="10">
                            </mat-progress-bar>
                        </section>
                    </div>
                    <div class="progessCricelarea">
                        <div class="rightans">
                            <circle-progress [percent]="40" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                                [outerStrokeColor]="'green'" [innerStrokeColor]="'lightgray'" [animation]="true"
                                [animationDuration]="1000">
                            </circle-progress>
                        </div>
                        <div class="worngans">
                            <circle-progress [percent]="40" [radius]="50" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
                                [outerStrokeColor]="'red'" [innerStrokeColor]="'lightgray'" [animation]="true"
                                [animationDuration]="1000">
                            </circle-progress>
                        </div>
                    </div>
                </div>
                <div class="progess">
                    <span>{{CurrentQuestion?.topics}} Progress Report: {{i}}/{{AllQuestion.length}}
                    </span>
                    <div class="progessline">
                        <section class="example-section">
                            <mat-progress-bar class="example-margin" [value]="((i) / AllQuestion.length) * 100">
                            </mat-progress-bar>
                        </section>
                    </div>
                    <div class="progessCricelarea">
                        <div class="rightans">
                            <circle-progress [percent]="topicsRightPro" [radius]="50" [outerStrokeWidth]="8"
                                [innerStrokeWidth]="4" [outerStrokeColor]="'green'" [innerStrokeColor]="'lightgray'"
                                [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                        <div class="worngans">
                            <circle-progress [percent]="topicsWorngPro" [radius]="50" [outerStrokeWidth]="8"
                                [innerStrokeWidth]="4" [outerStrokeColor]="'red'" [innerStrokeColor]="'lightgray'"
                                [animation]="true" [animationDuration]="1000">
                            </circle-progress>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>