<div id="wrapper">
    <div class="letter-selector">
        <span>🎨 Please track the letter below! 🖍️</span>
    </div>

    <div class="canvas-container">
        <canvas #letterCanvas width="400" height="400"></canvas>
    </div>

    <div class="button-container">
        <button class="reset-btn" (click)="startPainting()">🔄 Reset</button>
        <button class="save-btn" [disabled]="!isSaveVisible" (click)="saveCanvas()">✅ Save & Next</button>
    </div>
</div>



<!-- <button (click)="NextQuestion()" mat-button>next</button> -->

<!-- <div *ngIf="QuestionType == 'LetterTracing'">
</div>

<div *ngIf="QuestionType == 'LetterMatch'">
    MCSS
</div>

<div *ngIf="QuestionType == 'BlendWords'">
    MCSS
</div>

<div *ngIf="QuestionType == 'ListenWords'">
    MCSS
</div> -->